.tittle{
  font-family: 'Vollkorn', serif;
  color: black;
  }

.header{
  height: 100px;
  width: 500px;
  font-family: 'Vollkorn', serif;
  margin: 20px 70px;
  }

.header h1{
  color: #828282;
  font-size: 25px;
  font-family: 'Vollkorn', serif;
  text-align: left;
  padding-left: 0px;
  margin: 0px 15px 0px 65px;
  letter-spacing: 2px;
  width: 50%;
  }

.header p{
  color: #828282;
  padding-left: 55px;
  font-size: 20px;
  width: 50%;
  margin-top: 0px;
  padding-top: 0px;
  }

.logo{
  height: 40px;
  width: 40px;
  padding: 3px;
  border: 3px solid #828282;
  border-radius: 10px;
  float: left;
  }

body{
  font-size: 18px;
  background-color: beige;
  }

.banner{
  display: grid;
  grid-template-columns: 1.0fr 1.0fr;
  grid-template-rows: 1fr;
  gap: 20px 40px;
  grid-template-areas: ". .";
  margin: 80px;
  }

.comments{
  font-family: Overpass; 
  font-size: 50px;
  text-align: center;
  color: #be5353;
  font-weight: bold;
  }

.fondo-banner{
  width: 600px;
  background-image: url("imeges/fondo pagina.jpg");
  background-size: cover;
  box-shadow: 10px 20px 30px #be5353b3;
  border: 2.5px solid #be5353b3;
  border-radius: 7px;
  }
 
.btn-inicio{
  background-color: #be5353;
  color: white;
  font-size: 18px;
  font-family: Overpass;
  font-weight: bold;
  margin-top: 15px;
  display: inline-block;
  padding: 20px;
  border-radius: 8px;
  text-decoration: none;
  }

h2{
  color: #be5353;
  font-size: 35px;
  text-align: center;
  }

.cards{
  display: flex;
  flex-direction: row;
  margin: 40px 80px;
  text-align: center;
  }

.cards-img{
  border: 3px solid #be5353;
  }

.Servicios,
.Impuestos,
.Auditoria, p{
  padding: 10px 10px;
  margin: 18px;
  }

.propuestas{
  border: 5px solid #be5353;
  border-radius: 2px;
  margin: 80px 80px 50px 80px;
  }

.nosotros{
  display: flex;
  flex-direction: row;
  padding: 10px 90px;
  background-color: #a73030;
  width: 10000px;
  height: 170px;
  color: white;
  }

.contacto{
  padding: 0px 70px;
}

.contacto p{
  margin: 18px 18px 18px 0px;
  font-size: 16px;
}

h4{
  font-family: Overpass; 
  font-size: 18px;
  margin: 20px 40px 20px 10px;
  color: white;
}

.empresas{
  padding: 0px 100px;
}

.empresas ul{
  font-size: 16px;
  padding: 0px 25px;
}

.empresas a{
  text-decoration: none;
  color: white;
}

a:visited{
  color: white;
}

a:hover{
  color: black;
}